<section id="about-us">
    <div class="container">
        <div class="text-center">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="title-one">Description</h2>
            </div>
        </div>
        <div class="about-us">
            <div class="row">
                <div class="col-sm-6">
                    <h3>About Us</h3>
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#about" data-toggle="tab"><i class="fa fa-chain-broken"></i> Description</a></li>
                        <li><a href="#mission" data-toggle="tab"><i class="fa fa-th-large"></i> Mission</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="about">
                            <div class="media">
                                <img class="pull-left media-object" src="/misc/img/about/0.jpg" alt="about us">
                                <div class="media-body">
                                    <p>El Laboratorio Turing pertenece a una nueva generación de laboratorios de
                                    Investigación y Desarrollo inaugurados recientemente en Universidad Galileo
                                    para promover el desarrollo de la Ciencia y Tecnología.</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="mission">
                            <div class="media">
                                <img class="pull-left media-object" src="/misc/img/about/1.jpg" alt="Mission">
                                <div class="media-body">
                                    <p>Nuestra misión en general es promover la ciencia y tecnología. Nuestro enfoque es desarrollar proyectos tecnológicos de última generación que sean útiles para guatemaltecos como para el resto de la humanidad.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h3>¿Qué Hacemos?</h3>
                    <div class="skill-bar">
                        <div class="skillbar clearfix " data-percent="100%">
                            <div class="skillbar-title">
                                <span><i class="fa fa-check" aria-hidden="true"></i> Open-source projects</span>
                            </div>
                            <div class="skillbar-bar"></div>
                        </div>
                        <div class="skillbar clearfix" data-percent="100%">
                            <div class="skillbar-title">
                                <span><i class="fa fa-check" aria-hidden="true"></i> Games and Learning</span>
                            </div>
                            <div class="skillbar-bar"></div>
                        </div>
                        <div class="skillbar clearfix " data-percent="100%">
                            <div class="skillbar-title">
                                <span><i class="fa fa-check" aria-hidden="true"></i> Assistive Robotics</span>
                            </div>
                            <div class="skillbar-bar"></div>
                        </div>
                        <div class="skillbar clearfix " data-percent="100%">
                            <div class="skillbar-title">
                                <span><i class="fa fa-check" aria-hidden="true"></i> Assistive Technologies</span>
                            </div>
                            <div class="skillbar-bar"></div>
                        </div>
                        <div class="skillbar clearfix " data-percent="100%">
                            <div class="skillbar-title">
                                <span><i class="fa fa-check" aria-hidden="true"></i> Artificial Inteligence</span>
                            </div>
                            <div class="skillbar-bar"></div>
                        </div></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
