<section id="blog">
    <div class="container">
        <div class="row text-center clearfix">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="title-one">Blog</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="single-blog">
                    <img src="/misc/img/blog/1.gif" alt="" />
                    <h2>DQN</h2>
                    <ul class="post-meta">
                        <li><i class="fa fa-pencil-square-o"></i><strong> Publicado por:</strong> Andrés Castellanos</li>
                        <li><i class="fa fa-clock-o"></i><strong> Fecha:</strong> -</li>
                    </ul>
                    <div class="blog-content">
                        <p>Una inteligencia artificial capaz de jugar al nivel de un humano y de la misma manera, pues solo ve la pantalla y decide que es mejor.</p>
                    </div>
                    <a href="" class="btn btn-primary">Leer</a>
                </div>
            </div>
        </div>
    </section> <!--/#blog-->
