<section id="blog">
    <div class="container">
        <div class="row text-center clearfix">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="title-one">Blog</h2>
            </div>
        </div>
        <div class="row">
            {% for post in site.categories.blog %}
            <div class="col-sm-4">
                <div class="single-blog">
                    <img src="{{post.image}}" alt="" />
                    <h2>{{post.title}}</h2>
                    <ul class="post-meta">
                        <li><i class="fa fa-pencil-square-o"></i><strong> Posted By:</strong> {{post.authors}}</li>
                        <li><i class="fa fa-clock-o"></i><strong> Posted On:</strong> {{ post.date | date: '%B %d, %Y' }}</li>
                    </ul>
                    <div class="blog-content">
                        <p>{% if post.description %}{{ post.description | strip_html | strip_newlines | truncate: 250 }}{% endif %}</p>
                    </div>
                    <a href="{% if post.directlink %}{{post.directlink}}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}" class="btn btn-primary">READ MORE</a>
                </div>
            </div>
            {% endfor %}
        </div>
</section> <!--/#blog-->
