    <section id="contact">
    <div class="container">
        <div class="row text-center clearfix">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="contact-heading">
                    <h2 class="title-one">Contacto</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="contact-details">
            <div class="pattern"></div>
            <div class="row text-center clearfix">
                <div class="col-sm-6">
                    <div class="contact-address"><address><p><span>Lab</span>Turing</p><strong>4A Calle 7a. Avenida<br>Calle Dr. Eduardo Suger Cofiño<br> Oficina 305</strong><br><small>( PBX: (502) 2423-8000 Ext. 7380 )</small></address>
                        <div class="social-icons">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    {% include map.html %}
                </div>
            </div>
    </div>
    </section> <!--/#contact-->
