<footer class="site-footer">
    <div class="w3-center">
        <a href="{{site.facebook}}" class="w3-btn-floating w3-dark-grey"><i class="fa fa-facebook"></i></a>
        <a href="{{site.github}}" class="w3-btn-floating w3-dark-grey"><i class="fa fa-github"></i></a>
        <div class="w3-padding-16">
            <img src="/assets/images/logo-footer.png">
        </div>
        <h6>&copy; {{site.title}} - {{site.year}}</h6>
    </div>
</footer>
<div class="site-go-up w3-hide" id="goup">
    <div class="w3-right w3-padding-right w3-padding-64">
        <a href="#page-top" class="scroll-effect">
            <i class="fa fa-arrow-up"></i>
        </a>
    </div>
</div>
