    <section id="home">
        <div class="home-pattern"></div>
        <div id="main-carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#main-carousel" data-slide-to="1"></li>
                <li data-target="#main-carousel" data-slide-to="2"></li>
				<li data-target="#main-carousel" data-slide-to="3"></li>
            </ol><!--/.carousel-indicators-->
            <div class="carousel-inner">
                <div class="item active" style="background-image: url(misc/img/header/0.jpg)">
                    <div class="carousel-caption">
                        <div>
                            <h2 class="heading animated bounceInDown">Turing Laboratory</h2>
                            <p class="animated bounceInUp">Research and Development</p>
                            <a class="btn btn-default slider-btn animated fadeIn" href="#about-us">About Us</a>
                        </div>
                    </div>
                </div>
                <div class="item" style="background-image: url(misc/img/header/1.jpg)">
                    <div class="carousel-caption"> <div>
                        <h2 class="heading animated bounceInDown">Maker Faire 2016</h2>
                        <p class="animated bounceInUp">Leonardo GreenMoov - Tested </p>
						<a class="btn btn-default slider-btn animated bounceInUp" target="_blank" href="https://youtu.be/3GuZiNdeueI">Watch video</a>
                    </div>
                </div>
            </div>
            <div class="item" style="background-image: url(misc/img/header/2.jpg)">
                <div class="carousel-caption">
                    <div>
                        <h2 class="heading animated bounceInRight">Get to Know Our Projects!</h2>
                        <p class="animated bounceInLeft">100% Open Source</p>
                        <a class="btn btn-default slider-btn animated bounceInUp" href="#projects">Projects</a>
                    </div>
                </div>
            </div>
			<div class="item" style="background-image: url(misc/img/header/3.jpg)">
                <div class="carousel-caption">
                    <div>
						<h2 class="heading animated bounceInDown">Julio Fajardo</h2>
						<p class="animated bounceInRight">Innovators Under 35 MIT Technology Review <b><font color="yellow">WINNER</font></b></p>
						<a class="btn btn-default slider-btn animated fadeIn"  target="_blank" href="https://www.innovatorsunder35.com/the-list/julio-fajardo/">Read</a>
					</div>
				</div>
			</div>
        </div><!--/.carousel-inner-->

        <a class="carousel-left member-carousel-control hidden-xs" href="#main-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
        <a class="carousel-right member-carousel-control hidden-xs" href="#main-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
    </div>

</section><!--/#home-->
