<header class="site-logo">
    <div class="w3-row">
        <div class="w3-col s6">
            <div class="w3-center">
                <img src="/assets/images/mini-logo.png" alt="favicon">
            </div>
        </div>
        <div class="w3-col s6">
            <div class="w3-center">
                <h5 class="w3-animate-opacity">{{site.title}}</h5>
            </div>
        </div>
    </div>
</header>
<header class="site-header">
    <div class="w3-display-middle" style="white-space: nowrap;">
        <span>{{site.title}}</span>
    </div>
</header>
