{% if page.layout == 'home' %}
<header class="site-logo">
    <div class="w3-row">
        <div class="w3-col s6">
            <div class="w3-center">
                <img src="/assets/images/mini-logo.png" alt="favicon">
            </div>
        </div>
        <div class="w3-col s6">
            <div class="w3-center">
                <h5 class="w3-animate-opacity">{{site.title}}</h5>
            </div>
        </div>
    </div>
</header>
<header class="site-header">
    <div class="w3-display-middle" style="white-space: nowrap;">
        <span>{{site.title}}</span>
    </div>
</header>
{% else %}
<header class="w3-container w3-center blog-padding">
    <h1><b>BLOG</b></h1>
    <p>Welcome to the blog of <span class="w3-tag">{{site.title}}</span></p>
</header>
{% endif %}
