<div id="myMap" style="width:100%;height:390px;"></div>
<script>
function myMap() {
    var mapCanvas = document.getElementById("myMap");
    var mapOptions = {
        zoom:15,
        scrollwheel:false,
        draggable:true,
        center:new google.maps.LatLng(14.609686,-90.505626),
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(mapCanvas, mapOptions);
    var marker = new google.maps.Marker(
        {
            map: map,position: new google.maps.LatLng(14.609686,-90.505626)
        }
    );
    var infowindow = new google.maps.InfoWindow(
        {
            content:'<strong>Laboratorio Turing</strong><br>4A Calle 7a. Avenida, calle Dr. Eduardo Suger Cofiño, Oficina 305A'
        }
    );
    google.maps.event.addListener(
        marker,
        'click',
        function(){
            infowindow.open(map,marker);
        }
    );
    infowindow.open(map,marker);
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbxH-QSgy3u1sczzsBelJ07FvU9pgq5pc&callback=myMap"></script>
