<section id="posters">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="title-one">Publicaciones</h2>
            </div>
        </div>
        <div class="posters-items">
            {% for poster in site.data.posters %}
            <div class="col-sm-3 col-xs-12 posters-item html">
             <div class="view efffect">
                 <div class="posters-image">
                     <img src="{{poster.preview}}" alt="{{poster.name}}"></div>
                     <div class="mask text-center">
                         <h3>{{poster.name}}</h3>
                         <h4>{{Lorem ipsum dolor sit amet consectetur}}</h4>
                         <a href="{{poster.poster}}"><i class="fa fa-search-plus"></i></a>
                     </div>
                 </div>
             </div>
            {% endfor %}
            </div>
        </div>
    </section> <!--/#posters-->
