<!-- projects Grid Section -->
<section id="projects" class="bg-light-gray">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="title-one">Projects</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 projects-item">
                <a href="/project/LeonardoGreenMoov.html" class="projects-link">
                    <div class="projects-hover">
                        <div class="projects-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="{{site.data.projects[0].preview}}" class="img-responsive" alt="{{site.data.projects[0].name}}">
                </a>
                <div class="projects-caption">
                    <h4>{{site.data.projects[0].name}}</h4>
                    <p class="text-muted">{{site.data.projects[0].description}}</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 projects-item">
                <a href="/project/Galileo-Body-Powered.html" class="projects-link">
                    <div class="projects-hover">
                        <div class="projects-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="{{site.data.projects[1].preview}}" class="img-responsive" alt="{{site.data.projects[1].name}}">
                </a>
                <div class="projects-caption">
                    <h4>{{site.data.projects[1].name}}</h4>
                    <p class="text-muted">{{site.data.projects[1].description}}</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 projects-item">
                <a href="/project/Galileo-Hand.html" class="projects-link">
                    <div class="projects-hover">
                        <div class="projects-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="{{site.data.projects[2].preview}}" class="img-responsive" alt="{{site.data.projects[2].name}}">
                </a>
                <div class="projects-caption">
                    <h4>{{site.data.projects[2].name}}</h4>
                    <p class="text-muted">{{site.data.projects[2].description}}</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 projects-item">
                <a href="/project/Cerebrex.html" class="projects-link">
                    <div class="projects-hover">
                        <div class="projects-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="{{site.data.projects[3].preview}}" class="img-responsive" alt="{{site.data.projects[3].name}}">
                </a>
                <div class="projects-caption">
                    <h4>{{site.data.projects[3].name}}</h4>
                    <p class="text-muted">{{site.data.projects[3].description}}</p>
                </div>
            </div>
			<div class="col-md-4 col-sm-6 projects-item">
                <a href="/project/Popol-Vuh.html" class="projects-link">
                    <div class="projects-hover">
                        <div class="projects-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="{{site.data.projects[4].preview}}" class="img-responsive" alt="{{site.data.projects[4].name}}">
                </a>
                <div class="projects-caption">
                    <h4>{{site.data.projects[4].name}}</h4>
                    <p class="text-muted">{{site.data.projects[4].description}}</p>
                </div>
            </div>
			<div class="col-md-4 col-sm-6 projects-item">
                <a href="/project/Deep-Learning.html" class="projects-link">
                    <div class="projects-hover">
                        <div class="projects-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="{{site.data.projects[5].preview}}" class="img-responsive" alt="{{site.data.projects[5].name}}">
                </a>
                <div class="projects-caption">
                    <h4>{{site.data.projects[5].name}}</h4>
                    <p class="text-muted">{{site.data.projects[5].description}}</p>
                </div>
            </div>
			<div class="col-md-4 col-sm-6 projects-item">
                <a href="http://deepify.me" class="projects-link">
                    <div class="projects-hover">
                        <div class="projects-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="{{site.data.projects[6].preview}}" class="img-responsive" alt="{{site.data.projects[6].name}}">
                </a>
                <div class="projects-caption">
                    <h4>{{site.data.projects[6].name}}</h4>
                    <p class="text-muted">{{site.data.projects[6].description}}</p>
                </div>
            </div>
			<div class="col-md-4 col-sm-6 projects-item">
                <a href="/project/Medical-Kit.html" class="projects-link">
                    <div class="projects-hover">
                        <div class="projects-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="{{site.data.projects[7].preview}}" class="img-responsive" alt="{{site.data.projects[7].name}}">
                </a>
                <div class="projects-caption">
                    <h4>{{site.data.projects[7].name}}</h4>
                    <p class="text-muted">{{site.data.projects[7].description}}</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 projects-item">
                <a href="http://riscbook.com/espanol/" class="projects-link">
                    <div class="projects-hover">
                        <div class="projects-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="{{site.data.projects[8].preview}}" class="img-responsive" alt="{{site.data.projects[8].name}}">
                </a>
                <div class="projects-caption">
                    <h4>{{site.data.projects[8].name}}</h4>
                    <p class="text-muted">{{site.data.projects[8].description}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
