<section id="our-team">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="title-one">Nuestro Equipo</h2>
            </div>
        </div>
        <div id="team-carousel" class="carousel slide" data-interval="false">
            <a class="member-left" href="#team-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
            <a class="member-right" href="#team-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            <div class="carousel-inner team-members">
                <div class="row item active">
                    <div class="col-sm-6 col-md-3">
                        <div class="single-member">
                            <img src="{{site.data.members[0].avatar}}" alt="{{site.data.members[0].name}}" />
                            <h4>{{site.data.members[0].name}}</h4>
                            <h5>{{site.data.members[0].eng}}</h5>
                            <p>{{site.data.members[0].info}}</p>
                            <div class="socials">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-github"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="single-member">
                            <img src="{{site.data.members[1].avatar}}" alt="{{site.data.members[1].name}}" />
                            <h4>{{site.data.members[1].name}}</h4>
                            <h5>{{site.data.members[1].eng}}</h5>
                            <p>{{site.data.members[1].info}}</p>
                            <div class="socials">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-github"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="single-member">
                            <img src="{{site.data.members[2].avatar}}" alt="{{site.data.members[2].name}}" />
                            <h4>{{site.data.members[2].name}}</h4>
                            <h5>{{site.data.members[2].eng}}</h5>
                            <p>{{site.data.members[2].info}}</p>
                            <div class="socials">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-github"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="single-member">
                            <img src="{{site.data.members[3].avatar}}" alt="{{site.data.members[3].name}}" />
                            <h4>{{site.data.members[3].name}}</h4>
                            <h5>{{site.data.members[3].eng}}</h5>
                            <p>{{site.data.members[3].info}}</p>
                            <div class="socials">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-github"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row item">
                    <div class="col-sm-6 col-md-3">
                        <div class="single-member">
                            <img src="{{site.data.members[4].avatar}}" alt="{{site.data.members[4].name}}" />
                            <h4>{{site.data.members[4].name}}</h4>
                            <h5>{{site.data.members[4].eng}}</h5>
                            <p>{{site.data.members[4].info}}</p>
                            <div class="socials">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-github"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="single-member">
                            <img src="{{site.data.members[5].avatar}}" alt="{{site.data.members[5].name}}" />
                            <h4>{{site.data.members[5].name}}</h4>
                            <h5>{{site.data.members[5].eng}}</h5>
                            <p>{{site.data.members[5].info}}</p>
                            <div class="socials">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-github"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="single-member">
                            <img src="{{site.data.members[6].avatar}}" alt="{{site.data.members[6].name}}" />
                            <h4>{{site.data.members[6].name}}</h4>
                            <h5>{{site.data.members[6].eng}}</h5>
                            <p>{{site.data.members[6].info}}</p>
                            <div class="socials">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-github"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/#Our-Team-->
